<h2>List Animals</h2>

<div>
  <div class="search">
    <input type='text' [(ngModel)]='searchText' name='searchText' />
    <button (click)='search()'>Search</button>
  </div>

  <div *ngIf='animals.length === 0'>
    No more Animals
  </div>

  <div *ngFor='let animal of animals'  class='item-container'>
    <h4>{{animal.name}} {{animal.type}}</h4>
    <img [src]='animal.image' />
    <a routerLink='/animals/details/{{animal.id}}'>Details</a>
  </div>

  <div>
    <button [disabled]='page === 1' (click)='prevPage()'>Prev</button>
    <button [disabled]='animals.length === 0 || animals.length < 10' (click)='nextPage()'>Next</button>
  </div>
</div>
